@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Indie Flower', cursive;
}
body {
    background-color: rgb(9, 0, 17);
    color: black;
    letter-spacing: 1px;
    min-height: 100vh;
    padding: 120px 0;
}
.container-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    border: 3px dotted black;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.container {
    margin: auto;
    border-radius: 8px;
    width: 100%;
    width: 90%;
    max-width: 500px;
    padding: 30px 20px;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    margin-top: 20px;
    border-radius: 25px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(238, 238, 238);
    text-decoration: none;
    background-color: rgb(14, 14, 14);
    font-family: 'Inter', sans-serif;
}
a:hover {
    background-color: rgb(31, 31, 31);
}

.container strong {
    font-size: 30px;
    margin-bottom: 7px;
    margin-top: 20px;
    color: rgb(0, 33, 37);
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
}

h3 {
    margin-top: 25px;
    font-size: 22px;
    margin-bottom: 10px;

}
ul {
    display: flex;
    flex-wrap: wrap;
}
ul li {
    font-size: 18px;
    margin-left: 30px;
    font-weight: 600;

}
.loading-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(17, 17, 17);
    background-color: rgba(255, 255, 255, 0.952);
}
.loading-overlay strong {
    position: fixed;
    bottom: 25px;
    
    font-size: 20px;
}
.loading-overlay p {
    font-size: 20px;
}
.happy {
    font-size: 25px;
    margin-top: 5px;
}

@media (max-width: 500px) {
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
    }
    ul li {
        font-size: 18px;
        margin-left: 30px;
        font-weight: 600;
    }
}